*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
}
body{
  display: flex;
  justify-content: center;
}
.bolder{
  font-weight: bold;
}
.container{
  display: flex;
  flex-direction: column;
  gap: 40px;
  .options{
    display: flex;
    gap: 15px;
    margin-top: 40px;
    .option-button{
      padding: 5px;
    }
  }
  #text-input{
    width: 88vw;
    height: 75vh;
    outline: none;
    border: black 1px solid;
    padding: 20px;
  }
}